@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lobster&family=Roboto:wght@300;400&display=swap');

@import url(./sections/header.css);
@import url(./sections/home.css);
@import url(./sections/featured.css);
@import url(./sections/newin.css);
@import url(./sections/aboutus.css);
@import url(./sections/deal.css);
@import url(./sections/contactus.css);
@import url(./sections/footer.css);

:root{
    --darkGreen:#009368;
    --lightGreen:#5ae847;
    --white:#ffffff;
    --lightDark:#22333b;
    --dark:#0a0908;
    --gray-2:#e4e6ec;
    --darkGray:#7d8597;
    --lightPurple:#8338ec;
    --darkPurple:#560bad;
    --lightPink:#f7a5c4;
    --darkPink:#f86198;
    --lightSkyblue:#bde0fe;
    --darkSkyblue:#a2d2ff;
    --lightRed:#f02a41;
    --darkRed:#d90429;
    --lightBlue:#14afe3;
    --darkBlue:#0077b6;
    --darkOrange:#ff5400;
    --lightOrange:#f46721;

    --border: .1rem solid rgba(0,0,0,.1);
    --border-hover: .1rem solid var(--dark3);
    --box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}
*{
    font-family: 'Nunito', sans-serif;
    /*font-family: 'Dancing Script', cursive;
    font-family: 'Anton', sans-serif;
    font-family: 'Lobster', sans-serif;*/
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    outline: none; border: 0;
    text-decoration: none;
    transition: all .3s linear;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: 1rem;
}
html::-webkit-scrollbar-track{

    background-color: transparent;
}
html::-webkit-scrollbar-thumb{
    background-color: var(--darkGray);
}
*::selection{
    background-color: var(--lightRed);
    color: var(--white);
}
section{
    padding: 3rem 9%;
}
.heading{
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
    font-size: 3rem;
    color: var(--lightDark);
    
    &::before{
        content: '';
        position: absolute;
        top: 50%;left: 0;
        transform: translateY(-50%);
        width: 100%; height: .1rem;
        background-color: rgba(0, 0, 0, .1);
        z-index: -1;
    }
}
.heading span{
    font-size: 3rem;
    padding: .5rem 1rem;
    color: var(--lightDark);
    background-color: var(--white);
    border: var(--border);
    border-radius: .5rem;
}

.btn{
    display: inline-block;
    background-color: var(--dark);
    color: var(--white);
    padding: .8rem 3rem;
    border: .2rem solid var(--dark);
    font-size: 1.7rem;
    border-radius: .5rem;
    cursor: pointer;

    &:hover{
        background-color: var(--white);
        color: var(--dark);
    }
}

@media screen and (max-width:991px) {
    html{
        font-size: 55%;
    }
}
@media screen and (max-width:771px) {
    html{
        scroll-padding-top: 0;
    }
}
@media screen and (max-width:491px) {
    html{
        font-size: 50%;
    }
}